<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>도서 관리</title>
	<link rel="stylesheet" th:href="@{/css/book.css}" />
</head>
	
<body>
	<div class="container">
		<h2>도서 목록</h2>
		<table class="book_list">
			<colgroup>
				<col width="5%"/>
				<col width="10%"/>
				<col width="10%"/>
				<col width="10%"/>
				<col width="10%"/>
			</colgroup>
			<thead>
				<!-- 테이블 항목 목록 -->
				<tr>
					<th scope="col">등록번호</th>
					<th scope="col">제목</th>
					<th scope="col">저자</th>
					<th scope="col">출판사</th>
					<th scope="col">출판일</th>
				</tr>
			</thead>
			<tbody>
				<!-- 실질적인 테이블 내용 -->
				<tr th:if="${#lists.size(list)} > 0" th:each="list : ${list}">
					<td th:text="${list.bookId}"></td>
					<!-- <td th:text="${list.title}" class="title"></td> -->
					<td class="title">
						<a href="/book/openBookDetail.do?bookId=" 
                              th:attrappend="href=${list.bookId}" th:text="${list.title}"></a>	
					</td>
					<td th:text="${list.author}"></td>
					<td th:text="${list.publisher}"></td>
					<td th:text="${list.publishedDate}"></td>
				</tr>
				<tr th:unless="${#lists.size(list)} > 0">
					<td colspan="5">조회된 결과가 없습니다.</td>
				</tr>
			</tbody>
		</table>
		<a href="/book/openBookWrite.do" class="btn">도서 등록하기</a>
	</div>
</body>
</html>